@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typing indicator animation */
.typing-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  padding: 0 4px;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}

.typing-indicator .dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: currentColor;
  animation: typing 1.5s infinite;
  margin: 0 3px;
  opacity: 0.3;
}

.typing-indicator .dot:nth-child(2) {
  animation-delay: 0.2s;
}

.typing-indicator .dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes typing {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scaleX(0) translateX(50%);
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scaleX(1) translateX(0);
  }
}

.animate-scale-in {
  animation: scaleIn 0.3s cubic-bezier(0.17, 0.67, 0.29, 1) forwards;
  transform-origin: center right;
}

.animate-scale-in-left {
  animation: scaleIn 0.3s cubic-bezier(0.17, 0.67, 0.29, 1) forwards;
  transform-origin: center left;
}
